:root {
     --main-text-font: Arial, Helvetica, sans-serif;
 }
 * { 
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
 }
 li {
     list-style: none;
 }
 a{
     text-decoration: none;
     color: black;
     
 }
 .space-between {
     justify-content: space-between;
 }
 .container {
     max-width: 1200px;
     margin: auto;
 }
 .main-product{
    margin-top: 75px;
    margin-bottom: 75px;
 }
 .row{
     display: flex;
     flex-wrap: wrap;
 }
 .top {
     padding: 12px 0;
     align-items: center;
     display: block;
     position: fixed;
     width: 100%;
     z-index: 999;
     background-color: rgba(255, 255, 255, 0.3);
     transition: all 0.3s ease;
     font-size: 20px;
 }
 .top.active {
     background-color: rgba(255, 255, 255, 1);
 }
 .top:hover {
     background-color: rgba(255, 255, 255, 1);
 }
 
 .top-logo {
     flex: 1;
     padding: 0 20px;
     display: inline-flex;
 }
 .top-menu-items {
     flex: 3;
     text-align: center;
     padding-right: 75px;
 }
 .top-menu-items >ul{
     height: 100%;
     display: flex;
 }
 .top-menu-items > ul > li {
     font-family: var(--main-text-font);
     padding: 0 15px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     position: relative;
 }
 .top-menu-items ul li::before {
     position: absolute;
     content: "";
     display: block;
     width: 100%;
     height: 50px;
     bottom: -50%;
 
 }
 /* .top-menu-items ul li:nth-child(4) {
     color: red;
 }
 .top-menu-items ul li:nth-child(5) {
     color: red;
 } */
 .top-menu-item {
     position: absolute;
     width: 200px;
     top: 100px;
     display: none;
     opacity: 0;
     transition: all 0.5s ease;
     background-color: #ffffff;
     height: auto!important;
     padding: 6px;
     border: 1px solid #dddddd;
 }
 .top-menu-items ul li:hover .top-menu-item {
     display: block;
     top: 60px;
     opacity: 1;
 }
 .top-menu-item li {
    line-height: 25px;
    display: flex;
    justify-content: left!important;
   
 }
 .top-menu-item li a {
     font-size: 12px;
     text-align: left;
     text-transform: capitalize;
     color: #333;
     font-family: var(--main-text-font);
     padding: 5px;
 }
 
 
 /* top-menu-icons */
 .top-menu-icons {
     flex: 1;
 }
 .top-menu-icons ul {
     display: flex;
     height: 100%;
 }
 .top-menu-icons ul li {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 6px 12px;
 }
 .top-menu-icons ul li {
     position: relative;
     
 }
 .top-menu-icons ul li::before {
     content: "";
     display: block;
     position: absolute;
     height: 15px;
     width: 1px;
     background-color: #333;
     right: 0;
 }
 .top-menu-icons ul li:last-child::before {
     display: none;
 }
 .top-menu-icons ul li:first-child input {
     width: 150px;
     border: none;
     background-color: transparent;
     border-bottom: 1px solid #333;
     padding: 0 0 4px 6px
     
 }
 .top-menu-icons ul li:first-child i {
     position: absolute;
     font-size: 12px;
     right: 12px;
 }
 .top-menu-icons ul i {
     cursor: pointer;
 }